.container {
    display: none;
  }

.choice-button, .container-content {
    display: flex;
}

button {
    width: 200px;
    height: 100px;
    font-size: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    border: 2px solid #000;
    font-family: "Whisper", cursive;
}

#all-certificates-button {
    margin-left: 300px;
}

#all-certificates-button, #code-certificates-button {
    margin-left: 5%;
}

.certicate-one img, .certificate-two img, .certicate-only img {
    width: 300px;
    border-radius: 20px;
}

.choice-button {
    margin-top: 5%;
}

#title-container {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: "Whisper", cursive;
}

.certicate-one {
    margin-left: 25%;
}

.certificate-two {
    margin-left: 5%;
}

.certicate-only {
    margin-left: 40%;
}