@media (max-width: 1300px) {
  
    #header-index h1 {
      margin-left: -80px;
      margin-top: 0px;
    }
    
    .index-main-text h2 {
      margin-left: 480px;
    }
    
    #projects-index-body-link {
      margin-left: 210px;
    }
    
    #about-index-body-link, #hire-index-body-link, #certificates-index-body-link {
      margin-left: 70px;
    }
  
  .header-page-names a {
    width: 500px;
    display: flex;
  }
  
  #first-header, #second-header, #last-header {
    margin-top: 50px;
  }
  
  #first-header {
    margin-left: 200px;
  }
  
  #second-header, #last-header {
    margin-left: -30px;
  }
  
  .decor-section, .decor-section-second, .decor-section-one, .decor-section-last {
    margin-left: -30px;
  }
  
  #about-text-container {
    margin-left: 90px;
  }
  
  #paragraph-about p, #paragraph-about-one p, #paragraph-about-twice p {
    padding-right: 100px;
  }
  
  .about-me-page-main-header {
    margin-left: -30px;
  }
  }
  
  @media (max-width: 1200px) {
    #header-index h1 {
      margin-left: -150px;
      margin-top: 0px;
    }
    
    .index-main-text h2 {
      margin-left: 420px;
    }
  
  #projects-index-body-link {
      margin-left: 150px;
    }

.header-page-names a {
  font-size: 30px;
}

#first-header a, #second-header a, #last-header a {
  font-size: 27px;
}

#first-header, #second-header, #last-header {
  margin-top: 40px;
}

#second-header, #last-header {
  margin-left: -50px;
}

#first-header {
  margin-left: 150px;
}

#paragraph-about p, #paragraph-about-one p, #paragraph-about-twice p {
  font-size: 25px;
  padding-right: 200px;
}

.about-me-page-main-header {
  margin-left: -60px;
}
}

@media (max-width: 1150px) {
  #first-header {
  margin-left: 120px;
}
}

@media (max-width: 1100px) {
    #header-index h1 {
        margin-left: -200px;
      }
    
    .index-main-text h2 {
        margin-left: 370px;
      }
    
    #projects-index-body-link {
        margin-left: 150px;
      }
      
      #about-index-body-link, #hire-index-body-link, #certificates-index-body-link {
        margin-left: 50px;
      }
  
  #first-header a, #second-header a, #last-header a {
  font-size: 25px;
}
  
  #second-header, #last-header {
  margin-left: -60px;
}
  
  #first-header {
  margin-left: 100px;
}
  
  .decor-section, .decor-section-second, .decor-section-one, .decor-section-last {
    margin-left: -45px;
  }
  
  #about-text-container {
    margin-left: 70px;
  }
  
  #header-about h1, #header-about-one h1, #header-about-twice h1 {
    font-size: 35px;
  }
  
  #paragraph-about p, #paragraph-about-one p, #paragraph-about-twice p {
    font-size: 22px;
    padding-right: 250px;
  }
  
  .about-me-page-main-header {
  margin-left: -80px;
}
  }

  @media (max-width: 1050px) {
    #first-header {
    margin-left: 50px;
  }
  }
  
  @media (max-width: 1000px) {
      #header-index h1 {
        margin-left: -200px;
        font-size: 60px;
        }
      
      .index-main-text h2 {
        font-size: 30px;
        margin-left: 350px;
      }
      
      #projects-index-body-link a, #about-index-body-link a, #hire-index-body-link a, #certificates-index-body-link a {
        font-size: 25px;
      }
    
    #first-header {
    margin-left: 0px;
  }
    
    #paragraph-about p, #paragraph-about-one p, #paragraph-about-twice p {
      font-size: 20px;
      padding-right: 330px;
    }
    }

    @media (max-width: 950px) {
      #first-header, #second-header, #last-header {
      display: none;
    }
      
      .flex-menu {
      display: flex;
        margin-left: 300px;
    }
    }
    
    @media (max-width: 900px) {
        #header-index h1 {
          margin-left: -200px;
          font-size: 50px;
          }
        
        .index-main-text h2 {
          font-size: 25px;
          margin-left: 350px;
        }
        
        #projects-index-body-link a, #about-index-body-link a, #hire-index-body-link a, #certificates-index-body-link a {
            font-size: 20px;
          }
        
        #projects-index-body-link {
            margin-left: 170px;
        }
      
      .decor-section, .decor-section-second, .decor-section-one, .decor-section-last {
        margin-left: -55px;
      }
      
      .flex-menu {
        margin-left: 250px;
    }
      
      #paragraph-about p, #paragraph-about-one p, #paragraph-about-twice p {
        font-size: 18px;
        padding-right: 450px;
      }
      
       #header-about h1, #header-about-one h1, #header-about-twice h1 {
        font-size: 30px;
      }
      
      .about-me-page-main-header h1 {
        font-size: 30px;
      }
      
      .about-me-page-main-header {
        margin-bottom: -40px;
        margin-top: -10px;
      }
      }

      @media (max-width: 850px) {
        .flex-menu {
          margin-left: 200px;
      }
      }
      
      @media (max-width: 800px) {
          #header-index h1 {
            margin-left: -280px;
          }
          
          .index-main-text h2 {
            margin-left: 270px;
          }
          
          #about-index-body-link, #hire-index-body-link, #certificates-index-body-link {
              margin-left: 30px;
          }
          
          #projects-index-body-link {
              margin-left: 150px;
          }
        
        .flex-menu {
          margin-left: 150px;
      }
        
        #paragraph-about p, #paragraph-about-one p, #paragraph-about-twice p {
              font-size: 15px;
              padding-right: 550px;
            }
        }

  @media (max-width: 730px) {
    #header-index h1 {
      margin-left: -330px;
    }
    
    .index-main-text h2 {
      margin-left: 220px;
    }
    
    #projects-index-body-link {
        margin-left: 100px;
    }
  }

  @media (max-width: 670px) {
    #header-index h1 {
      margin-left: -330px;
      font-size: 40px;
    }
    
    .index-main-text h2 {
      margin-left: 210px;
      font-size: 20px;
    }
    
    #projects-index-body-link a, #about-index-body-link a, #hire-index-body-link a, #certificates-index-body-link a {
          font-size: 17px;
        }
  }

  @media (max-width: 600px) {
    #about-index-body-link, #hire-index-body-link, #certificates-index-body-link {
          margin-left: 20px;
      }
    
    #projects-index-body-link {
          margin-left: 80px;
      }
    
    #header-index h1 {
        margin-left: -380px;
      }
    
    .index-main-text h2 {
        margin-left: 160px;
      }
  }

  @media (max-width: 550px) {
    .index-main-text h2 {
        margin-bottom: -30px;
      }
    
    #projects-index-body-link a, #about-index-body-link a, #hire-index-body-link a, #certificates-index-body-link a {
            font-size: 15px;
          }
  }